main .contact{
    display: flex;
    flex-direction: column;
}

main .contact .title{
    padding:20px;
    font-size: 30pt;
}

.contact-main{
    display: flex;
    margin: 20px;
    gap: 30px;
}

.map{
    width:600px;
    height:300px;
}

.contact-input{
    border: none;
    border-bottom: 3px solid #000;
    transition: .5s;
    margin-bottom: 16px;
    font-size: 20px;
    width: 600px;
}
.contact-input:hover{
    border-color: var(--primary);
}
.contact-input:focus{
    outline: none;
    border-color: var(--primary);
}

.contact-submit{
    border: none;
    background-color: var(--primary);
    color: var(--text);
    cursor: pointer;
    padding: 16px;
    transition: .5s;
    border-radius: 5px;
}
.contact-submit:hover{
    background-color: var(--light);
    color: var(--text);
}
